* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* border: 1px solid red; */
  border-radius: 8px;
  width: 60%;
  margin: auto;
  padding: 15px 18px;
  display: flex;
  gap: 15px;
  background-color: rgb(50, 48, 48);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.done {
  background-color: green;
}
.left {
  /* border: 1px solid red; */
  flex-grow: 1;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  word-break: break-all;
}

.right button {
  background-color: rgb(252, 31, 31);
  border-radius: 8px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  padding: 12px 15px;
  color: white;
  border: none;
  cursor: pointer;
}
